src/main/mule/event_processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="get_events_new" doc:id="8d45d20e-3cfe-4a59-aa08-e7052864e56c" >
		<file:read doc:name="Read Events" doc:id="c4229e64-4e21-43e6-8cb9-030a59fd8156" config-ref="File_Config" path="E:\ynestero\training.mule\FTP\events.xml" target="events" />
		<os:retrieve doc:name="Retrieve Accounts" doc:id="5af29162-0ec0-4c7b-b917-f71eaebccbc3" key="Account" objectStore="Object_store" target="accounts"/>
		<ee:transform doc:name="Transform Message" doc:id="4f19a0ce-8423-49c5-a256-ce6c81125bda" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.events.root.*row]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="events" ><![CDATA[%dw 2.0
output application/json
---
vars.events.root.*row]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Filter Events" doc:id="b300d8cc-9b1a-496a-bf70-e0995444340c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun normalize(event_date) = (event_date) replace "/" with "-" replace "." with "-"
fun getSfId(company_id) = vars.accounts filter (item, index) -> item.external_id__c == company_id
---
vars.events filter ($.company_id != "" and $.company_id != "0" and $.company_id != null 
and $.event_type != "" and $.event_type != "0" and $.event_type != null
and $.event_date != "" and $.event_date != "0" and $.event_date != null 
and $.event_date as Date {format: "M/d/yyyy"} > "12/31/2008" as Date {format: "M/d/yyy"}
) map {
    Subject: $.event_type,
    WhatId: getSfId($.company_id).sfId[0],
    StartDateTime: normalize($.event_date as Date {format: "M/d/yyy"} as String {format: 'yyyy-MM-dd'}) ++ "T15:00:00.000Z",
    EndDateTime: normalize($.event_date as Date {format: "M/d/yyy"} as String {format: 'yyyy-MM-dd'}) ++ "T16:00:00.000Z"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="noCompanyEvents" ><![CDATA[%dw 2.0
output application/json
fun unMatch(company_id) = payload filter (item, index) -> item.company_id == company_id
---
vars.events.root.*row map {
    company_id: $.company_id,
    event_type: $.event_type,
    event_date: $.event_date,
    doesAccountExistForEvent: sizeOf(unMatch($.company_id))>0
} filter ($.doesAccountExistForEvent == false and $.company_id != null)]]></ee:set-variable>
				<ee:set-variable variableName="emptyFieldsEvents" ><![CDATA[%dw 2.0
output application/json
---
vars.events.root.*row filter (item, index) -> 
	item.company_id == null 
or item.event_date == null 
or item.event_type == null]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="df5415fe-1456-4fd5-b1bb-dcfd6a4d0b87" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="96cfe05a-38e4-476c-b26b-83ff02be8e7e" >
				<logger level="ERROR" doc:name="Logger" doc:id="7d8ea849-b7c3-4637-b9cd-f94c6a3dddeb" message="#[payload]" />
				<ee:transform doc:name="Transform Message" doc:id="24cfa8dd-bb26-4044-b79f-539c0e0491e4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/text
---
"File is demaged, please check file 'events.xml'"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
